* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

table {
    border: 4px solid black;
    width: 25rem;
    margin: auto;
    margin-top: 0.6rem;
    border-radius: 5px;
    background-color: black;
}

.btn {
    width: 5rem;
    margin: 6px;
    height: 60px;
    border-radius: 18px;
    font-size: 1.8em;
    background-color: white;
}

.total {
    width: 11.5rem;
}

caption {
    font-size: 3rem;
    background-color: orange;
    border-radius: 4px;
    margin-bottom: 1px;
}

div {
    padding: 20px;
    font-size: 2.2em;
    background-color: black;
    color: white;
    text-align: right;
}

button:hover {
    background-image: linear-gradient(to right, red, yellow);
}

.screen-1 {
    height: 4rem;
    text-align: left;
}

.screen-2 {
    height: 6rem;
}